<!doctype html>
<html lang="en">
  <head>
    {% load static %}


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      {% block link_css %}

      {% endblock %}

      <title>{% block head_title %}Blog Django{% endblock %}</title>
  </head>

  <body>
  {% block navbar %}
    {% include 'navbar.html' with user_obj=request.user %}
  {% endblock %}


  <div class="container-fluid">


      {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="card col mr-3">
        {% block content_a %}

        {% endblock %}
    </div>
    <div class="col-6 mr-3">
        {% block content_b %}
          <p>2 of 3(wider)</p>
        {% endblock %}
    </div>
    <div class="card col">
        {% block content_c %}
          <p>3 of 3</p>
        {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
  </div>

  {% include 'js.html' %}
  </body>
</html>