{% extends "base.html" %}

{% block content_b %}

<div class="card">
    <div class="card-body">
        {% if save %}
            {% include 'blog/message_list.html' with action=3 blog_title=object.title %}
        {% endif %}
        <p class="card-title">Create new blog post.</p>

        <div>
            <form class="d-inline" method="post" enctype="multipart/form-data">{% csrf_token%}
                {{form.as_p}}
                <button class="btn btn-danger" type="submit" name="submit">Save</button>
            </form>
            <a href="/blog/1"><button class="btn btn-dark">Cancel</button></a>
        </div>

    </div>
</div>
{% endblock %}