{% extends "base.html" %}



{% block content_b %}
    {% if object %}
        <div>
            {% include 'blog/list-inline.html' with blog_post=object truncate=True %}
        </div>
    {% endif %}
{% endblock %}

{% block content_c %}
    override nested block content_c
{% endblock %}










{% comment %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="card col mr-3">
        <p>1 of 3</p>
    </div>
    <div class="card col-6 mr-3">
        <p>2 of 3 (wider)</p>
      {% if object %}
        <div>
            <p class="col-7 cold-md-10 mb-3 mx-auto">We choose for you.</p>
            {% include 'blog/list-inline.html' with blog_post=object truncate=True %}
        </div>
    {% endif %}
    </div>
    <div class="card col">
        <p>3 of 3</p>
    </div>
  </div>
</div>
{% endblock %}
{% endcomment %}

{% comment %}
{% block content %}



    <div class="card col-1">
        <p>some content</p>
    </div>
    {% if object %}
        <div>
            <p class="col-7 cold-md-10 mb-3 mx-auto">We choose for you.</p>
            {% include 'blog/list-inline.html' with blog_post=object truncate=True %}
        </div>
    {% endif %}
    <div class="card">
        <p>some content 2</p>
    </div>

{% endblock %}
{% endcomment %}