{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Just an image -->

  <a class="navbar-brand" href="#">
    <img src="{% static 'logo.svg' %}" alt="img" width="30" height="30">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="mr-3 img-circle" src="{% if not user_obj.userprofile.avatar.url %}{% static 'user.png' %}{% else %}{{ user_obj.userprofile.avatar.url }}{% endif %}" alt="img" width="30" height="30">
          {{user_obj}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/accounts/login/">Log in</a>
          <a class="dropdown-item" href="/accounts/logout/">Log out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

    <form class="form-inline my-2 my-lg-0" action='/search/'>
      <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>