{% extends 'base.html'%}
{% load static %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'search_result.css' %}">
{% endblock %}


{% block content_a %}
    <p>object_list : {{ object_list }}</p>
    <p>object_list.count : {{ object_list.count }}</p>
    <p>object_list.length : {{ object_list|length }}</p>
    <p>q : {{q}}</p>
    <p>query : {{query}}</p>
{% endblock %}

{% block content_b %}
<div class="row">
    <div class="col-12 col-8 mx-auto">
        {% if query %}
            <div class="card mb-5 search-log">
                <p class="card-body">Found <span>{{no_results}}</span> results for <span class="font-weight-bold">{{ query }}</span>.</p>
            </div>
        {% endif %}

        {% for object in object_list %}
            {% include 'blog/list-inline.html' with blog_post=object truncate=True detail=False %}
        {% endfor %}

        {% include 'blog/paginationbar.html' with active_page=i q=query %}
    </div>

</div>
{% endblock %}

{% block content_c %}
{% endblock %}