{% load static %}

<div class="card mb-2">
    <div class="card-body">

        <ul class="list-inline">
            <li class="list-inline-item">
                <img class="mr-3 img-circle" src="{% if not comment.user.userprofile.avatar.url %}{% static 'user.png' %}{% else %}{{ comment.user.userprofile.avatar.url }}{% endif %}" alt="img" width="30" height="30">
            </li>
            <li class="list-inline-item font-weight-bold">{{comment.user.username}}</li>
            <li class="list-inline-item text-muted">{{comment.timestamp}}</li>
        </ul>

        <p>{{comment.content}}</p>
    </div>
</div>