{% extends 'base.html' %}

{% block content_b %}

    <div class="card">
        <div class="card-body">
            {% if delete_yes %}
                {% include 'blog/message_list.html' with action=2 blog_title=obj_title %}
            {% else %}
                {% include 'blog/message_list.html' with action=1 blog_title=obj_title %}
            {% endif %}
            <div>
                <a href="/blog-new/{{obj_title}}"><button class="btn btn-danger">Create new</button></a>
                <a href="/blog/1"><button class="btn btn-dark">Go back</button></a>
            </div>
        </div>
    </div>
{% endblock %}