{% extends "base.html" %}

{% block content_b %}
<div class="card">
    <div class="card-body">
    <p class="card-title">Are you sure you want to delete <span class="font-weight-bold">{{object.title}}</span>?</p>

<div>
    <form class="d-inline" method="post" action="{{object.get_absolute_url}}">{% csrf_token %}
        <button class="btn btn-danger" name="delete_yes">Yes</button>
    </form>

    <form class="d-inline" method="post" action="{{object.get_absolute_url}}">{% csrf_token %}
        <button class="btn btn-dark" name="delete_cancel">Cancel</button>
    </form>
</div>

    </div>
</div>
{% endblock %}