{% extends "base.html" %}


{% block content_b %}
<div class="row">
    <div class="col-12 col-8 mx-auto">
        {% if save %}
            {% include 'blog/message_list.html' with action=3 blog_title=obj_title %}
        {% elif comment_save %}
            {% include 'blog/message_list.html' with action=4 %}
        {% endif %}

        {% include 'blog/list-inline.html' with blog_post=object truncate=False detail=True form=comment_form %}
    </div>
</div>
{% endblock %}

{% block content_c %}
{% endblock %}