{% extends "base.html" %}

{% block content_b %}


<div class="card">
    <div class="card-body">
        {% if save %}
            {% include 'blog/message_list.html' with action=3 blog_title=object.title %}
        {% endif %}
        <p class="card-title">Edit <span class="font-weight-bold">{{object.title}}</span>.</p>

        <div>
            <form class="d-inline" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-danger" type="submit" name="submit">Save</button>
            </form>

            <form class="d-inline" method="post" action="{{object.get_absolute_url}}">{% csrf_token %}
                <button class="btn btn-dark" name="edit_cancel">Cancel</button>
            </form>
        </div>

    </div>
</div>

{% endblock %}