{% extends "base.html" %}



{% block content_b %}

    {% if msg_list %}
        {% include 'blog/message_list.html' with msg=msg_list %}
    {% endif %}

    <div class="row">
    <div class="col-12 col-8 mx-auto">
        {% for object in object_list %}
            {% include 'blog/list-inline.html' with blog_post=object truncate=True detail=False %}
        {% endfor %}
    </div>
    </div>

    {% include 'blog/paginationbar.html' with active_page=i %}
{% endblock %}

{% block content_c %}
{% endblock %}

