<div class=" card mb-3
            {% if not blog_post.publish_date %}
                border border-danger
            {% elif not blog_post.is_publish_recently %}
                border border-warning
            {% endif %}
            "
>
    <div class="card-body">
        <h5 class="card-title"><a href="{{blog_post.get_absolute_url}}">{{blog_post.title}}</a></h5>

        <p class="text-muted">
                <span class="font-weight-bold" >{{ blog_post.user}}</span>
                {% if not blog_post.publish_date %}
                    <span >Not yet published.</span>
                {% elif not blog_post.is_publish_recently %}
                    <span>Will be published on {{blog_post.publish_date}}.</span>
                {% else %}
                    <span>{{blog_post.publish_date}}</span>
                {% endif %}
        </p>

        {% if request.user == object.user or request.user.is_superuser %}
            {% include 'blog/toolbar.html' %}
        {% endif %}

        {% if blog_post.image %}
            <img src="{{ blog_post.image.url }}" alt="blog_post image" class="card-img-top my-1" />
        {% endif %}

        <p class="card-text">

            {% if truncate %}
                {{blog_post.content|linebreaks|truncatewords:150}}
            {% else %}
                {{blog_post.content|linebreaks}}
            {% endif %}

            {% if not detail %}
                <a href="{{blog_post.get_absolute_url}}">View</a>
            {% else %}

                <div class="border-top">
                    <h4 class="mt-3"> Comment section </h4>
                    {% for cmt in blog_post.comment_set.all %}
                        {% include 'blog/comment-inline.html' with comment=cmt %}
                    {% endfor %}
                </div>

                {% if request.user.is_authenticated %}
                <div class="card mb-2">
                    <div class="card-body">
                        <form method="post"> {% csrf_token %}
                            {{ form.as_p }}
                        <button class="btn btn-danger" type="submit" name="comment">add comment</button>
                        </form>
                    </div>
                </div>
                {% else %}
                    <p>You need to be logged in to comment.</p>
                {% endif %}
            {% endif %}
        </p>
    </div>
</div>
