<div role="alert">
    {% if action == 1 %}
    <p class="alert alert-warning">
        Blog post <span class="font-weight-bold">{{blog_title}}</span> does not exist.
    </p>
    {% elif action == 2 %}
    <p class="alert alert-success">
        The blog post <span class="font-weight-bold">{{blog_title}}</span> was deleted successfully.
    </p>
    {% elif action == 3%}
    <p class="alert alert-success">
        The blog post <span class="font-weight-bold">{{blog_title}}</span> was changed successfully.
    </p>
    {% elif action == 4%}
    <p class="alert alert-success">
        The new comment was successfully added.
    </p>
    {% endif %}
</div>