<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

        <!-- width = 34 -->
      {% ifequal page 1 %}
    <li class="page-item disabled">
        {% if not query %}
            <a class="page-link" href="/blog/{{ page|add:'-1' }}" tabindex="-1">Previous</a>
        {% else %}
            <a class="page-link" href="/blog/{{ page|add:'-1' }}/?q={{query}}" tabindex="-1">Previous</a>
        {% endif %}
    </li>
      {% else %}
      <li class="page-item">
        {% if not query %}
            <a class="page-link" href="/blog/{{ page|add:'-1' }}" tabindex="-1">Previous</a>
        {% else %}
            <a class="page-link" href="/blog/{{ page|add:'-1' }}/?q={{query}}" tabindex="-1">Previous</a>
        {% endif %}
    </li>
      {% endifequal %}

      {% for i in pages %}
        {% if i == page %}
            <li class="page-item active">
                {% if not query %}
                    <a class="page-link" href="/blog/{{i}}">{{i}}</a>
                {% else %}
                    <a class="page-link" href="/blog/{{i}}/?q={{query}}">{{i}}</a>
                {% endif %}
            </li>
        {% elif i == -1 %}
            <li class="page-link">...</li>
        {% else %}
            <li class="page-item">
                {% if not query %}
                    <a class="page-link" href="/blog/{{i}}">{{i}}</a>
                {% else %}
                    <a class="page-link" href="/blog/{{i}}/?q={{query}}">{{i}}</a>
                {% endif %}
            </li>
        {% endif %}
      {% endfor %}


      {% ifequal page last_page %}
    <li class="page-item disabled">
        {% if not query %}
            <a class="page-link" href="/blog/{{ page|add:'1' }}">Next</a>
        {% else %}
            <a class="page-link" href="/blog/{{ page|add:'1' }}/?q={{query}}">Next</a>
        {% endif %}
    </li>
      {% else %}
      <li class="page-item">
        {% if not query %}
            <a class="page-link" href="/blog/{{ page|add:'1' }}">Next</a>
        {% else %}
            <a class="page-link" href="/blog/{{ page|add:'1' }}/?q={{query}}">Next</a>
        {% endif %}
    </li>
      {% endifequal %}

  </ul>
</nav>