

<div>
    <!--    <a href="javascript:history.back()"><span class="badge badge-light">&lt;&lt;</span></a> -->
    <a href="{{object.get_edit_url}}"><span class="badge badge-pill badge-warning text-dark">Edit</span></a>
    <a href="{{object.get_delete_url}}"><span class="badge badge-pill badge-danger text-dark">Delete</span></a>
</div>